useDynLib(libsoc)
import(methods)
export(so_SO_read)
export(so_PrecisionPopulationEstimates)
export(so_OptimalDesign)
export(so_DiagnosticIndividualParams)
export(so_Simulation)
export(so_PrecisionIndividualEstimates)
export(so_MissingData)
export(so_MLE)
export(so_Estimation)
export(so_IndividualEstimates)
export(so_OFMeasures)
export(so_TaskInformation)
export(so_DiagnosticStructuralModel)
export(so_OtherMethod_PPE)
export(so_SOBlock)
export(so_SO)
export(so_Bayesian)
export(so_OptimalDesignBlock)
export(so_InformationCriteria)
export(so_Residuals)
export(so_ExternalFile)
export(so_RandomEffects_IE)
export(so_Message)
export(so_ModelDiagnostic)
export(so_PharmMLRef)
export(so_TargetToolMessages)
export(so_OtherMethod)
export(so_RawResults)
export(so_PopulationEstimates)
export(so_Estimates)
export(so_Bayesian_PPE)
export(so_SimulationBlock)
export(so_SimulationSubType)
export(so_ToolSettings)
